*{
    margin: 0;
    padding: 1px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif ;
}body{
    min-height: 100vh;
}
a{
    text-decoration: none;
}  
.side-menu{
    position: fixed;
    background:lightgreen;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    
}
.side-menu li{
    font-size: 24px;
    padding: 10px 40px;
}
.side-menu li:hover{
    background: white;
    color: gray;
}
.search{
    position: absolute;
    right: 0vh;
    width: 81vw;
    height: 200vh;
    padding: 20px;
}